
<div>
  <div *ngFor="let player of players">
    {{player.name}}<br>
    {{player.location}}<br>
    <span class="money">M</span> {{player.money}}<br>

      {{roll1}}<br>
      {{roll2}}<br>

    <div *ngIf="player.ifActive===true">
      <div id="hideButtons">
        <button (click)="buyingProperty()">CLICK</button>
        <button (click)="endTurn()">End Your Turn</button>
      </div>
    </div>
  </div>
  <button (click)="playerDiceRoll()" id="hideRoll">Roll Dice</button>
</div>

<div id="communityContainer">
  <div *ngIf="randomCommunityCard == null" id="randomCard">
    <div id="communityCardContent">
      <h1>Community Chest</h1>
    </div>
    <img src="./../assets/images/monopoly-community.jpg" alt="monopoly community chest">
  </div>
  <div *ngIf="randomCommunityCard != null" id="randomCard">
    <div id="communityCardContent">
      <h1>Community Chest</h1>
      <p>{{randomCommunityCard}}</p>
    </div>
    <img src="./../assets/images/monopoly-community.jpg" alt="monopoly community chest">
  </div>
</div>

<div id="chanceContainer">
  <div *ngIf="randomChanceCard == null" id="randomCard">
    <img src="./../assets/images/monopoly-chance.gif" alt="monopoly chance chest">
    <div id="chanceCardContent">
      <h1>Chance Card</h1>
    </div>
  </div>
  <div *ngIf="randomChanceCard != null" id="randomCard">
    <img src="./../assets/images/monopoly-chance.gif" alt="monopoly chance chest">
    <div id="chanceCardContent">
      <h1>Chance Card</h1>
      <p>{{randomChanceCard}}</p>
    </div>
  </div>
</div>
