<div (click)="chanceCardGenerator()" id="chanceContainer">
  <div *ngIf="randomChanceCard == null" id="randomCard">
    <img src="./../assets/images/monopoly-chance.gif" alt="monopoly chance chest">
    <div id="chanceCardContent">
      <h1>Chance Card</h1>
    </div>
  </div>
  <div *ngIf="randomChanceCard != null" id="randomCard">
    <img src="./../assets/images/monopoly-chance.gif" alt="monopoly chance chest">
    <div id="chanceCardContent">
      <h1>Chance Card</h1>
      <p>{{randomChanceCard}}</p>
    </div>
  </div>
</div>
