<div (click)="communityCardGenerator()" id="communityContainer">
  <div *ngIf="randomCommunityCard == null" id="randomCard">
    <div id="communityCardContent">
      <h1>Community Chest</h1>
    </div>
    <img src="./../assets/images/monopoly-community.jpg" alt="monopoly community chest">
  </div>
  <div *ngIf="randomCommunityCard != null" id="randomCard">
    <div id="communityCardContent">
      <h1>Community Chest</h1>
      <p>{{randomCommunityCard}}</p>
    </div>
    <img src="./../assets/images/monopoly-community.jpg" alt="monopoly community chest">
  </div>
</div>
