#randomCard {
  text-align: center;
  width: 400px;
  height: 200px;
  background-color: yellow;
  border: 1px solid black;
  img {
    width: 25%;
  }
  #card {
    color: black
  }
}
button {
  border-radius: 5px;
  border: 1px solid black;
}
