<div class="board">
  <h1 id="go">Go</h1>
  <img src="../assets/img/mediterranean ave.svg" id="mediterranean" >
  <h1 id="community-bottom">Community</h1>
  <img src="../assets/img/baltic ave.svg" id="baltic">
  <h1 id="income">Income Tax</h1>
  <img src="../assets/img/reading railroad.svg" id="readingRR">
  <img src="../assets/img/oriental ave.svg" id="oriental">
  <h1 id="chance-bottom">Chance</h1>
  <img src="../assets/img/vermont ave.svg" id="vermont">
  <img src="../assets/img/connecticut ave.svg" id="connecticut">

  <h1 id="jail">Jail</h1>
  <img src="../assets/img/st.charles ave.svg" id="st-charles">
  <h1 id="electric">Electric</h1>
  <img src="../assets/img/states ave.svg" id="states">
  <img src="../assets/img/virginia ave.svg" id="virginia">
  <img src="../assets/img/pennsylvania railroad.svg" id="pennsylvaniaRR">
  <img src="../assets/img/st.james ave.svg" id="st-james">
  <h1 id="communityLeft">Community</h1>
  <img src="../assets/img/tennessee ave.svg" id="tennessee">
  <img src="../assets/img/new york ave.svg" id="newYork">

  <h1 id="freeParking">Free Parking</h1>
  <img src="../assets/img/kentucky ave.svg" id="kentucky">
  <h1 id="chanceTop">Chance</h1>
  <img src="../assets/img/indiana ave.svg" id="indiana">
  <img src="../assets/img/illinois ave.svg" id="illinois">
  <img src="../assets/img/b. & o. railroad.svg" id="boRR">
  <img src="../assets/img/atlantic ave.svg" id="atlantic">
  <img src="../assets/img/ventnor ave.svg" id="ventnor">
  <h1 id="water">Water</h1>
  <img src="../assets/img/marvin gardens.svg" id="marvin">

  <h1 id="goToJail">Go To Jail</h1>
  <img src="../assets/img/pacific ave.svg" id="pacific">
  <img src="../assets/img/north carolina ave.svg" id="nCarolina">
  <h1 id="communityRight">Community</h1>
  <img src="../assets/img/pennsylvania ave.svg" id="pennsylvania">
  <img src="../assets/img/short line.svg" id="shortRR">
  <h1 id="chanceRight">Chance</h1>
  <img src="../assets/img/park place.svg" id="park">
  <h1 id="luxury">Luxury Tax</h1>
  <img src="../assets/img/boardwalk.svg" id="boardwalk">








</div>
