<!-- <button (click)="playerDiceRoll()">Roll Dice</button>

<div>
{{players.location}}<br>
<span class="money">M</span> {{players.money}}<br>
{{roll1}}<br>
{{roll2}}<br>
</div> -->
<div class="container">


  <div class="board">
    <img src="../assets/img/start tile.svg" id="go">
    <img src="../assets/img/mediterranean ave.svg" id="mediterranean">
    <img src="../assets/img/community chest.svg" id="community-bottom">
    <img src="../assets/img/baltic ave.svg" id="baltic">
    <img src="../assets/img/income tax.svg" id="income">
    <img src="../assets/img/reading railroad.svg" id="readingRR">
    <img src="../assets/img/oriental ave.svg" id="oriental">
    <img src="../assets/img/chance pink.svg" id="chance-bottom">
    <img src="../assets/img/vermont ave.svg" id="vermont">
    <img src="../assets/img/connecticut ave.svg" id="connecticut">

    <img src="../assets/img/jail.svg" id="jail">
    <img src="../assets/img/st.charles ave.svg" id="st-charles">
    <img src="../assets/img/electric company.svg" id="electric">
    <img src="../assets/img/states ave.svg" id="states">
    <img src="../assets/img/virginia ave.svg" id="virginia">
    <img src="../assets/img/pennsylvania railroad.svg" id="pennsylvaniaRR">
    <img src="../assets/img/st.james ave.svg" id="st-james">
    <img src="../assets/img/community chest.svg" id="communityLeft">
    <img src="../assets/img/tennessee ave.svg" id="tennessee">
    <img src="../assets/img/new york ave.svg" id="newYork">

    <img src="../assets/img/free parking.svg" id="freeParking">
    <img src="../assets/img/kentucky ave.svg" id="kentucky">
    <img src="../assets/img/chance blue.svg" id="chanceTop">
    <img src="../assets/img/indiana ave.svg" id="indiana">
    <img src="../assets/img/illinois ave.svg" id="illinois">
    <img src="../assets/img/b. & o. railroad.svg" id="boRR">
    <img src="../assets/img/atlantic ave.svg" id="atlantic">
    <img src="../assets/img/ventnor ave.svg" id="ventnor">
    <img src="../assets/img/water works.svg" id="water">
    <img src="../assets/img/marvin gardens.svg" id="marvin">

    <img src="../assets/img/go to jail.svg" id="goToJail">
    <img src="../assets/img/pacific ave.svg" id="pacific">
    <img src="../assets/img/north carolina ave.svg" id="nCarolina">
    <img src="../assets/img/community chest.svg" id="communityRight">
    <img src="../assets/img/pennsylvania ave.svg" id="pennsylvania">
    <img src="../assets/img/short line.svg" id="shortRR">
    <img src="../assets/img/chance orange.svg" id="chanceRight">
    <img src="../assets/img/park place.svg" id="park">
    <img src="../assets/img/luxury tax.svg" id="luxury">
    <img src="../assets/img/boardwalk.svg" id="boardwalk">
    <img src="../assets/img/monopoly board.svg" id="board">

    <!-- <div ngIf="if this.playerPiece === 'car'"> -->
      <img src="../assets/img/car.svg" id="car" class="b0">
    <!-- </div> -->
    <!-- <div ngIf="if this.playerPiece === 'hat'"> -->
      <img src="../assets/img/hat.svg" id="hat" class="b0">
    <!-- </div> -->

  </div>

</div>
