.container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  border: 1px solid orange;
}

.board {
  display: grid;
  grid: 10vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 10vw/ 10vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 10vw;
  max-width: 90%;

}

#car {
  width: 5vw;
  align-self: center;
  justify-self: center;
}

.b0 {
  grid-row: 11;
  grid-column: 11;
}

.b1 {
  grid-row: 11;
  grid-column: 10;
}

.b2 {
  grid-row: 11;
  grid-column: 9;
}

.b3 {
  grid-row: 11;
  grid-column: 8;
}

.b4 {
  grid-row: 11;
  grid-column: 7;
}

.b5 {
  grid-row: 11;
  grid-column: 6;
}

.b6 {
  grid-row: 11;
  grid-column: 5;
}
.b7 {
  grid-row: 11;
  grid-column: 4;
}
.b8 {
  grid-row: 11;
  grid-column: 3;
}
.b9 {
  grid-row: 11;
  grid-column: 2;
}
.b10 {
  grid-row: 11;
  grid-column: 1;
}
.b11 {
  grid-row: 10;
  grid-column: 1;
  transform: rotate(90deg);
}
.b12 {
  grid-row: 9;
  grid-column: 1;
  transform: rotate(90deg);
}
.b13 {
  grid-row: 8;
  grid-column: 1;
  transform: rotate(90deg);
}
.b14 {
  grid-row: 7;
  grid-column: 1;
  transform: rotate(90deg);
}
.b15 {
  grid-row: 6;
  grid-column: 1;
  transform: rotate(90deg);
}
.b16 {
  grid-row: 5;
  grid-column: 1;
  transform: rotate(90deg);
}
.b17 {
  grid-row: 4;
  grid-column: 1;
  transform: rotate(90deg);
}
.b18 {
  grid-row: 3;
  grid-column: 1;
  transform: rotate(90deg);
}
.b19 {
  grid-row: 2;
  grid-column: 1;
  transform: rotate(90deg);
}
.b20 {
  grid-row: 1;
  grid-column: 1;
  transform: rotate(90deg);
}
.b21 {
  grid-row: 1;
  grid-column: 2;
  transform: rotate(180deg);
}
.b22 {
  grid-row: 1;
  grid-column: 3;
  transform: rotate(180deg);
}
.b23 {
  grid-row: 1;
  grid-column: 4;
  transform: rotate(180deg);
}
.b24 {
  grid-row: 1;
  grid-column: 5;
  transform: rotate(180deg);
}
.b25 {
  grid-row: 1;
  grid-column: 6;
  transform: rotate(180deg);
}
.b26 {
  grid-row: 1;
  grid-column: 7;
  transform: rotate(180deg);
}
.b27 {
  grid-row: 1;
  grid-column: 8;
  transform: rotate(180deg);
}
.b28 {
  grid-row: 1;
  grid-column: 9;
  transform: rotate(180deg);
}
.b29 {
  grid-row: 1;
  grid-column: 10;
  transform: rotate(180deg);
}
.b30 {
  grid-row: 1;
  grid-column: 11;
  transform: rotate(180deg);
}
.b31 {
  grid-row: 2;
  grid-column: 11;
  transform: rotate(270deg);
}
.b32 {
  grid-row: 3;
  grid-column: 11;
  transform: rotate(270deg);
}
.b33 {
  grid-row: 4;
  grid-column: 11;
  transform: rotate(270deg);
}
.b34 {
  grid-row: 5;
  grid-column: 11;
  transform: rotate(270deg);
}
.b35 {
  grid-row: 6;
  grid-column: 11;
  transform: rotate(270deg);
}
.b36 {
  grid-row: 7;
  grid-column: 11;
  transform: rotate(270deg);
}
.b37 {
  grid-row: 8;
  grid-column: 11;
  transform: rotate(270deg);
}
.b38 {
  grid-row: 9;
  grid-column: 11;
  transform: rotate(270deg);
}
.b39 {
  grid-row: 10;
  grid-column: 11;
  transform: rotate(270deg);
}
.b40 {
  grid-row: 11;
  grid-column: 1;
  transform: translateX(4vw) translateY(-5vw);
}

#go {
  grid-row: 11;
  grid-column: 11;
  width: 100%;
  height: 100%;
}

#mediterranean {
  grid-row: 11;
  grid-column: 10;
  width: 100%;
  height: 100%;
}

#community-bottom {
  grid-row: 11;
  grid-column: 9;
  width: 100%;
  height: 100%;
}

#baltic {
  grid-row: 11;
  grid-column: 8;
  width: 100%;
  height: 100%;
}

#income {
  grid-row: 11;
  grid-column: 7;
  width: 100%;
  height: 100%;
}

#readingRR {
  grid-row: 11;
  grid-column: 6;
  width: 100%;
  height: 100%;
}

#oriental {
  grid-row: 11;
  grid-column: 5;
  width: 100%;
  height: 100%;
}

#chance-bottom {
  grid-row: 11;
  grid-column: 4;
  width: 100%;
  height: 100%;
}

#vermont {
  grid-row: 11;
  grid-column: 3;
  width: 100%;
  height: 100%;
}

#connecticut {
  grid-row: 11;
  grid-column: 2;
  width: 100%;
  height: 100%;
}

#jail {
  grid-row: 11;
  grid-column: 1;
  width: 100%;
  height: 100%;
}

#st-charles {
  grid-row: 10;
  grid-column: 1;
  transform: rotate(90deg);
  justify-self: center;
  align-self: center;
  width: 168%;
  height: 168%;
}

#electric {
  grid-row: 9;
  grid-column: 1;
  transform: rotate(90deg);
  justify-self: center;
  align-self: center;
  width: 168%;
  height: 168%;
}

#states {
  grid-row: 8;
  grid-column: 1;
  transform: rotate(90deg);
  justify-self: center;
  align-self: center;
  width: 168%;
  height: 168%;
}

#virginia {
  grid-row: 7;
  grid-column: 1;
  transform: rotate(90deg);
  justify-self: center;
  align-self: center;
  width: 168%;
  height: 168%;
}

#pennsylvaniaRR {
  grid-row: 6;
  grid-column: 1;
  transform: rotate(90deg);
  justify-self: center;
  align-self: center;
  width: 168%;
  height: 168%;
}

#st-james {
  grid-row: 5;
  grid-column: 1;
  transform: rotate(90deg);
  justify-self: center;
  align-self: center;
  width: 168%;
  height: 168%;
}

#communityLeft {
  grid-row: 4;
  grid-column: 1;
  transform: rotate(90deg);
  justify-self: center;
  align-self: center;
  width: 168%;
  height: 168%;
}

#tennessee {
  grid-row: 3;
  grid-column: 1;
  transform: rotate(90deg);
  justify-self: center;
  align-self: center;
  width: 168%;
  height: 168%;
}

#newYork {
  grid-row: 2;
  grid-column: 1;
  transform: rotate(90deg);
  justify-self: center;
  align-self: center;
  width: 168%;
  height: 168%;
}

#freeParking {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  height: 100%;
}

#kentucky {
  grid-row: 1;
  grid-column: 2;
  transform: rotate(180deg);
  width: 100%;
  height: 100%;
}

#chanceTop {
  grid-row: 1;
  grid-column: 3;
  transform: rotate(180deg);
  width: 100%;
  height: 100%;
}

#indiana {
  grid-row: 1;
  grid-column: 4;
  transform: rotate(180deg);
  width: 100%;
  height: 100%;
}

#illinois {
  grid-row: 1;
  grid-column: 5;
  transform: rotate(180deg);
  width: 100%;
  height: 100%;
}

#boRR {
  grid-row: 1;
  grid-column: 6;
  transform: rotate(180deg);
  width: 100%;
  height: 100%;
}

#atlantic {
  grid-row: 1;
  grid-column: 7;
  transform: rotate(180deg);
  width: 100%;
  height: 100%;
}

#ventnor {
  grid-row: 1;
  grid-column: 8;
  transform: rotate(180deg);
  width: 100%;
  height: 100%;
}

#water {
  grid-row: 1;
  grid-column: 9;
  transform: rotate(180deg);
  width: 100%;
  height: 100%;
}

#marvin {
  grid-row: 1;
  grid-column: 10;
  transform: rotate(180deg);
  width: 100%;
  height: 100%;
}

#goToJail {
  grid-row: 1;
  grid-column: 11;
  width: 100%;
  height: 100%;
}

#pacific {
  grid-row: 2;
  grid-column: 11;
  transform: rotate(270deg);
  justify-self: center;
  align-self: center;
  width: 168%;
  height: 168%;
}

#nCarolina {
  grid-row: 3;
  grid-column: 11;
  transform: rotate(270deg);
  justify-self: center;
  align-self: center;
  width: 168%;
  height: 168%;
}

#communityRight {
  grid-row: 4;
  grid-column: 11;
  transform: rotate(270deg);
  justify-self: center;
  align-self: center;
  width: 168%;
  height: 168%;
}

#pennsylvania {
  grid-row: 5;
  grid-column: 11;
  transform: rotate(270deg);
  justify-self: center;
  align-self: center;
  width: 168%;
  height: 168%;
}

#shortRR {
  grid-row: 6;
  grid-column: 11;
  transform: rotate(270deg);
  justify-self: center;
  align-self: center;
  width: 168%;
  height: 168%;
}

#chanceRight {
  grid-row: 7;
  grid-column: 11;
  transform: rotate(270deg);
  justify-self: center;
  align-self: center;
  width: 168%;
  height: 168%;
}

#park {
  grid-row: 8;
  grid-column: 11;
  transform: rotate(270deg);
  justify-self: center;
  align-self: center;
  width: 168%;
  height: 168%;
}

#luxury {
  grid-row: 9;
  grid-column: 11;
  transform: rotate(270deg);
  justify-self: center;
  align-self: center;
  width: 168%;
  height: 168%;
}

#boardwalk {
  grid-row: 10;
  grid-column: 11;
  transform: rotate(270deg);
  justify-self: center;
  align-self: center;
  width: 168%;
  height: 168%;
}

#board {
  grid-row: 2/ span 9;
  grid-column: 2 / span 9;
  width: 100%;
  height: 100%;
  #communitycards, #chancecards {
    padding: 2px;
  }
}

#communitycards {
  grid-row: 4/ span 2;
  grid-column: 3/ span 3;
  transform: rotate(-45deg);
}
#chancecards{
  grid-row: 7/ span 2;
  grid-column: 7/ span 3;
  transform: rotate(-45deg);
}

.playerInformation {
  background-color: red;
  margin: 10px;
  width: 23%;
}
